<%- include('../includes/head.ejs') %>
    </head>
    <body>
<%- include('../includes/navigation.ejs') %>
<main>
    <% if (orders.length <= 0) { %>
        <h1>Nothing there!</h1>
    <% } else { %>
        <div>
            <% orders.forEach(order => { %>
                <div class="main-order">
                    <h1>Order - # <%= order._id %></h1>
                    <div class="order">
                        <% order.items.forEach(product => { %>
                            <span class="order-item"><%= product.title %> (<%= product.quantity %>)</span>
                        <% }); %>
                    </div>
                </div>
            <% }); %>
        </div>
    <% } %>
</main>

<%- include('../includes/end.ejs') %>