<%- include('../includes/head.ejs') %>
    </head>
    <body>
<%- include('../includes/navigation.ejs') %>
<main>
    <% if (orders.length <= 0) { %>
        <h1>Nothing there!</h1>
    <% } else { %>
        <div class="orders-block">
            <% orders.forEach(order => { %>
                <div class="main-order">
                    <h3>Order - # <%= order._id %></h3>
                    <div class="order">
                        <% order.products.forEach(p => { %>
                            <span class="order-item"><%= p.product.title %> (<%= p.quantity %>)</span>
                        <% }); %>
                    </div>
                </div>
            <% }); %>
        </div>
    <% } %>
</main>

<%- include('../includes/end.ejs') %>